<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CtpApiCRuntime_x64" version="6.3.6.1" targetFramework="net451" />
  <package id="GalaxyFutures.Sfit.Api" version="6.3.13" targetFramework="net451" />
  <package id="Skyline.Lite" version="2017.8.8.0" targetFramework="net451" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net451" />
  <package id="TasksDataflow" version="4.8.0" targetFramework="net451" />
</packages>