<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HDF.PInvoke.NETStandard" version="1.10.502" targetFramework="net472" />
  <package id="LiteDB" version="5.0.9" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="NLog" version="4.7.5" targetFramework="net472" />
  <package id="SkylineStandard" version="1.0.29.1" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="4.11.1" targetFramework="net472" />
</packages>